# Top-level folders to ignore
/Data
/Models
/venv
/Notebooks/Exported Files
/Notebooks/Pickle Files

# Logging folders to ignore
/*/.ipynb_checkpoints
/.pytest_cache
/*/__pycache__
/.idea/
/cache_dir/
/etc/
/Lib/
/runs/
/Scripts/
/share/

# Files to ignore
*.pickle